<!-- product-add.component.html -->
<div class="abc">
  <div class="card mx-auto">
    <div class="card-body">


      <form [formGroup]="form" novalidate>

        <!-- <div class="form-group">
        <label class="col-md-4">Product Name</label>
        <input type="text" class="form-control" formControlName="ProductName" #ProductName />
      </div>
      <div
        *ngIf="angForm.controls['ProductName'].invalid && (angForm.controls['ProductName'].dirty || angForm.controls['ProductName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['ProductName'].errors.required">
          Product Name is required.
        </div>
      </div> -->
        <div class="example-container">
          <table>

            <tr>
              <td style="width: 95%">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Product Name" formControlName="ProductName" required>
                  <mat-error *ngIf="!form.controls['ProductName'].valid">{{getErrorMessage('ProductName')}}</mat-error>

                </mat-form-field>
              </td>
              <td style="width: 5%">
                <button mat-fab color="blue" fxFlexAlign="start" (click)="findMatch()">


                  <mat-icon>search</mat-icon>
                </button>
              </td>
            </tr>
          </table>
          
          <div width="100%" *ngIf="spinner || disableWarning">
            <div class="center" *ngIf="spinner">
            <mat-spinner  class="center"  mode="indeterminate"></mat-spinner>
          </div>

          <div class="center" *ngIf="disableWarning"> <mat-error >{{getErrorMessage('Suggestion')}}</mat-error></div>
        </div>
          

<mat-expansion-panel [expanded]="matchFound" >
    <mat-expansion-panel-header *ngIf="matchFound">

        <mat-panel-description>Here you go...</mat-panel-description>
      </mat-expansion-panel-header>
  
          <mat-grid-list cols="3" rowHeight="3:5" gutterSize="5px" *ngIf="matchFound">
            <mat-grid-tile *ngFor="let tile of tiles">
              <!-- Hello
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-sm-image class="example-header-image"  [ngStyle]="{'background-image': 'url(' +tile.imgURL+ ')'}" ></div>
                <mat-card-title>{{tile.URL}}</mat-card-title>
                  <mat-card-subtitle>{{tile.URL}}</mat-card-subtitle>
                </mat-card-header>
             
              </mat-card> -->
              <div class="container">
                <a [href]="tile.Url" class="stretched-link">
                  <div class="card" style="width:95%">
                    <img class="card-img-top" [src]="tile.imgUrl" alt="Card image" style="width: 50%px">
                    <div>
                      <small>{{tile.Title}} <br>{{tile.Authors}}</small>

                    </div>
                  </div>
                </a>
              </div>

            </mat-grid-tile>
          </mat-grid-list>
  
        </mat-expansion-panel>


          <mat-form-field>
            <textarea matInput placeholder="Product Description"></textarea>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Product Price" formControlName="ProductPrice" type="number"
              class="example-right-align" required>
            <span matPrefix>₹&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error *ngIf="!form.controls['ProductPrice'].valid">{{getErrorMessage('ProductPrice')}}</mat-error>
          </mat-form-field>

        </div>


        <!-- <div class="form-group">
        <label class="col-md-4">Product Description </label>
        <textarea class="form-control" rows=7 cols="5" formControlName="ProductDescription"
          #ProductDescription></textarea>
      </div>
      <div
        *ngIf="angForm.controls['ProductDescription'].invalid && (angForm.controls['ProductDescription'].dirty || angForm.controls['ProductDescription'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['ProductDescription'].errors.required">
          Product Description is required.
        </div>
      </div> -->



        <!-- <div class="form-group">
        <label class="col-md-4">Product Price</label>
        <input type="text" class="form-control" formControlName="ProductPrice" #ProductPrice />
      </div>
      <div
        *ngIf="angForm.controls['ProductPrice'].invalid && (angForm.controls['ProductPrice'].dirty || angForm.controls['ProductPrice'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['ProductPrice'].errors.required">
          Product Price is required.
        </div>
      </div> -->
      <div class="container">
        <input type="file" name="photo" (change)="onFileSelect($event)"  />
        <button type="button" class="btn btn-success btn-s" 
          (click)="Uploader()"  >
              Upload an Image
        </button>
      </div>
        <div class="form-group">
          <button (click)="addProduct(ProductName.value, ProductDescription.value, ProductPrice.value)" type="submit"
            class="btn btn-primary" [disabled]="form.pristine || form.invalid">
            Create Product
          </button>
        </div>


      </form>
    </div>
  </div>
</div>