
<nav class="navbar navbar-expand-sm bg-light">
<div class="container-fluid">
    <ul class="nav float-right">
        <li class="nav-item small">
            <a routerLink="admin" class="nav-link" routerLinkActive="active">
              Admin
            </a>
          </li>
      <li class="nav-item small">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item small">
        <a class="nav-link" [routerLink]="[ '/registration']">Register</a>
      </li>
      <li class="nav-item small">
        <a class="nav-link" [routerLink]="[ '/logIn']">Login</a>
      </li>
      <li class="nav-item small">
        <a class="nav-link " [routerLink]="[ '/aboutUs']">About us</a>
      </li>
    </ul>
    </div>
    </nav>
    <br>
    <div class="container">
      
    </div>
    